# Dataset Overview

In [ ]:
import pandas as pd
df = pd.read_csv('public.csv')
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15565701,Ferri,698,Spain,Female,39,9,161993.89,1,0,0,90212.38,0
1,15565706,Akobundu,612,Spain,Male,35,1,0.00,1,1,1,83256.26,1
2,15565796,Docherty,745,Germany,Male,48,10,96048.55,1,1,0,74510.65,0
3,15565806,Toosey,532,France,Male,38,9,0.00,2,0,0,30583.95,0
4,15565878,Bates,631,Spain,Male,29,3,0.00,2,1,1,197963.46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,15815628,Moysey,711,France,Female,37,8,113899.92,1,0,0,80215.20,0
7996,15815645,Akhtar,481,France,Male,37,8,152303.66,2,1,1,175082.20,0
7997,15815656,Hopkins,541,Germany,Female,39,9,100116.67,1,1,1,199808.10,1
7998,15815660,Mazzi,758,France,Female,34,1,154139.45,1,1,1,60728.89,0
7999,15815690,Akabueze,614,Spain,Female,40,3,113348.50,1,1,1,77789.01,0

In [3]:
!pip install findspark
!apt-get -y install openjdk-8-jre-headless
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (2.0.1)
Reading package lists... Done
Building dependency tree
Reading state information... Done
openjdk-8-jre-headless is already the newest version (8u312-b07-0ubuntu1~18.04).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 45 not upgraded.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

# Use Pyspark to view dataset

In [4]:
# These part is  for windows version, if you use ubuntu, remember to edit import pyspark part
# ----
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()
# ----
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Churn_Modelling").getOrCreate()
df = spark.read.csv('public.csv',header=True,inferSchema=True)
df.printSchema()

root
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

# Do your work here

In [5]:
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil import parser
from sklearn import preprocessing
from pyspark.sql.functions import unix_timestamp, date_format, col, when
from pyspark.ml import Pipeline
from pyspark.ml import PipelineModel
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import MinMaxScaler, StandardScaler
from pyspark.ml.feature import RFormula
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorIndexer
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.classification import DecisionTreeClassificationModel
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.classification import LinearSVC
from pyspark.mllib.evaluation import BinaryClassificationMetrics
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder, RandomGridBuilder

In [6]:
df = df.drop('CustomerId', 'Surname')
sI1 = StringIndexer(inputCol="Geography", outputCol="GeographyIndex")
en1 = OneHotEncoder(dropLast=False, inputCol="GeographyIndex", outputCol="GeographyVec")
sI2 = StringIndexer(inputCol="Gender", outputCol="GenderIndex")
en2 = OneHotEncoder(dropLast=False, inputCol="GenderIndex", outputCol="GenderVec")

In [7]:
encoded_final_df = Pipeline(stages=[sI1, en1, sI2, en2]).fit(df).transform(df)
cols = list(encoded_final_df.columns) #Make a list of all of the columns in the df
cols.pop(cols.index('Exited')) #Remove b from list
encoded_final_df = encoded_final_df[cols+['Exited']] #Create new dataframe with columns in the order you want
encoded_final_df.show()

+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+
|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|Exited|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+
|        698|    Spain|Female| 39|     9|161993.89|            1|        0|             0|       90212.38|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|
|        612|    Spain|  Male| 35|     1|      0.0|            1|        1|             1|       83256.26|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     1|
|        745|  Germany|  Male| 48|    10| 96048.55|            1|        1|             0|       74510.65|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     0|
|        532|   France|  Male| 38|     9|      0.0|            2|        0|             0|       30583.95|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|
|        631|    Spain|  Male| 29|     3|      0.0|            2|        1|             1|      197963.46|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     0|
|        845|   France|Female| 28|     9|      0.0|            2|        1|             1|       56185.98|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|
|        653|   France|  Male| 44|     8|      0.0|            2|        1|             1|      154639.72|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|
|        497|  Germany|  Male| 41|     5| 80542.81|            1|        0|             0|       88729.22|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|
|        545|    Spain|Female| 32|     4|      0.0|            1|        1|             0|        94739.2|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|
|        596|   France|  Male| 39|     9|      0.0|            1|        1|             0|       48963.59|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|
|        526|   France|Female| 37|     5| 53573.18|            1|        1|             0|       62830.97|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|
|        618|   France|Female| 37|     5| 96652.86|            1|        1|             0|        98686.4|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     1|
|        580|  Germany|  Male| 44|     9|143391.07|            1|        0|             0|      146891.07|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|
|        787|   France|  Male| 25|     5|      0.0|            2|        1|             0|        47307.9|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|
|        761|   France|Female| 33|     6|138053.79|            2|        1|             0|      148779.41|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|
|        660|    Spain|Female| 42|     5|      0.0|            3|        1|             1|      189016.24|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|
|        515|   France|  Male| 48|     5|129387.94|            1|        0|             1|      147955.91|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     1|
|        586|    Spain|Female| 33|    10| 66948.67|            2|        1|             1|      140759.03|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|
|        683|  Germany|Female| 32|     0| 138171.1|            2|        1|             1|      188203.58|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     0|
|        487|   France|  Male| 45|     2|      0.0|            2|        1|             0|       77475.73|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+
only showing top 20 rows

In [8]:
# Decide on the split between training and testing data from the DataFrame
trainingFraction = 0.9
testingFraction = (1-trainingFraction)
seed = 7

# Split the DataFrame into test and training DataFrames
train_data_df, test_data_df = encoded_final_df.randomSplit([trainingFraction, testingFraction], seed=seed)

In [9]:
def preprocess(df):
  ## Create a Decision Tree model
  # Create an assembler object
  inputCols=[
    'CreditScore', 'Age', 'Tenure',
    'Balance', 
    'NumOfProducts',
    'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'GenderVec', 'GeographyVec'
  ]
  """
  for c in inputCols:
    standardizer = StandardScaler(inputCol=c, outputCol=c)
    model = standardizer.fit(df)
    df = model.transform(df)
  """
  #df.show()
  assembler = VectorAssembler(inputCols=inputCols, outputCol='features')
  
  # Consolidate predictor columns
  trainingData = assembler.transform(df)
  standardizer = StandardScaler(inputCol="features", outputCol="features_scaled")
  model = standardizer.fit(trainingData)
  trainingData = model.transform(trainingData)
  trainingData.show()
  return trainingData

In [10]:
trainingData = preprocess(train_data_df)

+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+
|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|Exited|            features|     features_scaled|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+
|        350|   France|Female| 60|     3|      0.0|            1|        0|             0|      113796.15|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     1|(13,[0,1,2,4,7,9,...|(13,[0,1,2,4,7,9,...|
|        350|  Germany|  Male| 39|     0| 109733.2|            2|        0|             0|      123602.11|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|(13,[0,1,3,4,7,8,...|(13,[0,1,3,4,7,8,...|
|        350|    Spain|  Male| 54|     1|152677.48|            1|        1|             1|      191973.49|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     1|[350.0,54.0,1.0,1...|[3.64346276187375...|
|        351|  Germany|Female| 57|     4|163146.46|            1|        1|             0|      169621.69|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     1|[351.0,57.0,4.0,1...|[3.65387265547910...|
|        358|    Spain|Female| 52|     8|143542.36|            3|        1|             0|      141959.11|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[358.0,52.0,8.0,1...|[3.72674191071658...|
|        363|    Spain|Female| 28|     6|146098.43|            3|        1|             0|      100615.14|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[363.0,28.0,6.0,1...|[3.77879137874334...|
|        367|    Spain|  Male| 42|     6| 93608.28|            1|        1|             0|      168816.73|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     1|[367.0,42.0,6.0,9...|[3.82043095316476...|
|        373|   France|  Male| 42|     7|      0.0|            1|        1|             0|       77786.37|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     1|[373.0,42.0,7.0,0...|[3.88289031479688...|
|        376|   France|Female| 46|     6|      0.0|            1|        1|             0|      157333.69|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     1|[376.0,46.0,6.0,0...|[3.91411999561294...|
|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     1|[376.0,29.0,4.0,1...|[3.91411999561294...|
|        382|    Spain|  Male| 36|     0|      0.0|            1|        1|             1|      179540.73|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     1|[382.0,36.0,0.0,0...|[3.97657935724506...|
|        383|    Spain|Female| 48|     8| 95808.19|            1|        0|             0|      137702.01|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[383.0,48.0,8.0,9...|[3.98698925085042...|
|        395|  Germany|Female| 34|     5|106011.59|            1|        1|             1|       17376.57|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     1|[395.0,34.0,5.0,1...|[4.11190797411466...|
|        401|  Germany|  Male| 48|     8|128140.17|            1|        1|             0|      175753.55|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[401.0,48.0,8.0,1...|[4.17436733574678...|
|        404|  Germany|Female| 54|     4|125456.07|            1|        1|             0|       83715.66|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     1|[404.0,54.0,4.0,1...|[4.20559701656284...|
|        408|   France|  Male| 40|     3|      0.0|            2|        0|             0|      124874.23|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|(13,[0,1,2,4,7,8,...|(13,[0,1,2,4,7,8,...|
|        410|   France|Female| 35|     7|117183.74|            1|        1|             1|      109733.73|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[410.0,35.0,7.0,1...|[4.26805637819496...|
|        410|  Germany|Female| 50|     2|102278.79|            2|        1|             0|       89822.48|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     0|[410.0,50.0,2.0,1...|[4.26805637819496...|
|        411|   France|Female| 35|     2|      0.0|            2|        1|             1|       93825.78|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[411.0,35.0,2.0,0...|[4.27846627180032...|
|        411|   France|Female| 54|     9|      0.0|            1|        0|             1|       76621.49|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[411.0,54.0,9.0,0...|[4.27846627180032...|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+
only showing top 20 rows

In [11]:
## Create a new logistic regression object for the model
logReg = LogisticRegression(maxIter=100, featuresCol="features_scaled", regParam=0.01, elasticNetParam=0.08, labelCol = 'Exited')

## The formula for the model
#classFormula = RFormula(formula="Exited ~ CreditScore + Age + Tenure + Balance + NumOfProducts + HasCrCard + IsActiveMember + EstimatedSalary + GeographyIndex + GenderIndex")
classFormula = RFormula(formula="Exited ~ features_scaled")
## Undertake training and create a logistic regression model
lrModel = Pipeline(stages=[logReg]).fit(trainingData)

#lrModel = Pipeline(stages=[classFormula, logReg]).fit(train_data_df)
## Saving the model is optional, but it's another form of inter-session cache
"""
datestamp = datetime.now().strftime('%m-%d-%Y-%s')
fileName = "lrModel_" + datestamp
logRegDirfilename = fileName
lrModel.save(logRegDirfilename)
"""

'\ndatestamp = datetime.now().strftime(\'%m-%d-%Y-%s\')\nfileName = "lrModel_" + datestamp\nlogRegDirfilename = fileName\nlrModel.save(logRegDirfilename)\n'

In [68]:

# Check the resulting column
trainingData.select('features_scaled', 'Exited').show(5, truncate=False)
#dt = RandomForestClassifier(labelCol="Exited", featuresCol="features_scaled", seed=42)
dt = GBTClassifier(labelCol="Exited", featuresCol="features_scaled", maxIter=50, maxDepth=10, maxBins=60, seed=42)
#dt = LinearSVC(labelCol='label', maxIter=50, regParam=0.1)
dt_model = Pipeline(stages=[dt]).fit(trainingData)
"""
grid = (ParamGridBuilder()
             .addGrid(dt.maxDepth, [10])
             .addGrid(dt.maxBins, [60])
             .addGrid(dt.maxIter, [50])
             .build())


grid = (ParamGridBuilder()
  .addGrid(dt.numTrees, [100, 200, 500])
  .addGrid(dt.maxDepth, [7, 8, 9])
  .build())

evaluator = BinaryClassificationEvaluator(labelCol="Exited")
cv = CrossValidator(estimator=dt_model, estimatorParamMaps=grid, evaluator=evaluator, parallelism=2)
dt_model = cv.fit(trainingData)
"""

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+
|features_scaled                                                                                                                                                                                          |Exited|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+
|(13,[0,1,2,4,7,9,10],[3.643462761873753,5.74975388084461,1.0389902259687125,1.714097918925072,1.9782601280635217,2.0071133986114615,1.9998887515473083])                                                 |1     |
|(13,[0,1,3,4,7,8,11],[3.643462761873753,3.737340022548996,1.7575275927945195,3.428195837850144,2.148729337130663,2.0071133986114615,2.3116054328979483])                                                 |1     |
|[3.643462761873753,5.174778492760148,0.34633007532290416,2.4453390942607474,1.714097918925072,2.1955556158058562,2.0002741094672145,3.3373141438634013,2.0071133986114615,0.0,0.0,0.0,2.3150716355849577]|1     |
|[3.6538726554791063,5.4622661868023785,1.3853203012916167,2.6130141572172083,1.714097918925072,2.1955556158058562,0.0,2.948744981106575,0.0,2.0071133986114615,0.0,2.3116054328979483,0.0]               |1     |
|[3.7267419107165813,4.983120030065328,2.7706406025832333,2.299027627325589,5.142293756775216,2.1955556158058562,0.0,2.4678519187897265,0.0,2.0071133986114615,0.0,0.0,2.3150716355849577]                |1     |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+
only showing top 5 rows

'\ngrid = (ParamGridBuilder()\n             .addGrid(dt.maxDepth, [10])\n             .addGrid(dt.maxBins, [60])\n             .addGrid(dt.maxIter, [50])\n             .build())\n\n\ngrid = (ParamGridBuilder()\n  .addGrid(dt.numTrees, [100, 200, 500])\n  .addGrid(dt.maxDepth, [7, 8, 9])\n  .build())\n\nevaluator = BinaryClassificationEvaluator(labelCol="Exited")\ncv = CrossValidator(estimator=dt_model, estimatorParamMaps=grid, evaluator=evaluator, parallelism=2)\ndt_model = cv.fit(trainingData)\n'

In [58]:
#list(zip(dt_model.avgMetrics, grid))

[(0.8542405863227363,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 7,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 100}),
 (0.8579657203090585,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 8,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 100}),
 (0.8588296902904078,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 9,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 100}),
 (0.8549038162837885,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 7,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 200}),
 (0.8586790647944769,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 8,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 200}),
 (0.860414777660123,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 9,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 200}),
 (0.8548809333028642,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 7,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 500}),
 (0.8591300298861057,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 8,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 500}),
 (0.860424833699049,
  {Param(parent='RandomForestClassifier_25f40061c38b', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30].'): 9,
   Param(parent='RandomForestClassifier_25f40061c38b', name='numTrees', doc='Number of trees to train (>= 1).'): 500})]

In [28]:
def predict(model, data):
  predictions = model.transform(data)
  predictions.show()
  predictions = predictions.withColumn('Exited', predictions.Exited.cast('float'))
  predictionAndLabels = predictions.select("Exited","prediction").rdd
  metrics = BinaryClassificationMetrics(predictionAndLabels)
  print(f"{model} Area under ROC = {metrics.areaUnderROC}" )
  return predictions

In [69]:
testingData = preprocess(test_data_df)
## Predict tip 1/0 (yes/no) on the test dataset; evaluation using area under ROC
## Predict tip 1/0 (yes/no) on the test dataset; evaluation using area under ROC
predict(lrModel, testingData)
predict(dt_model, testingData)

+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+
|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|Exited|            features|     features_scaled|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+
|        359|   France|Female| 44|     6|128747.69|            1|        1|             0|      146955.71|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     1|[359.0,44.0,6.0,1...|[3.55224507950373...|
|        365|  Germany|  Male| 30|     0|127760.07|            1|        1|             0|       81537.85|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[365.0,30.0,0.0,1...|[3.61161407804697...|
|        386|    Spain|Female| 53|     1|131955.07|            1|        1|             1|       62514.65|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[386.0,53.0,1.0,1...|[3.81940557294830...|
|        405|  Germany|  Male| 31|     5|133299.67|            2|        1|             1|       72950.14|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     0|[405.0,31.0,5.0,1...|[4.00740740166856...|
|        410|   France|  Male| 33|     6|125789.69|            1|        0|             0|       66333.56|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     1|[410.0,33.0,6.0,1...|[4.05688156712125...|
|        414|    Spain|  Male| 60|     3|      0.0|            2|        1|             1|       93844.82|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     0|[414.0,60.0,3.0,0...|[4.09646089948341...|
|        419|    Spain|Female| 27|     2|121580.42|            1|        0|             1|      134720.51|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|[419.0,27.0,2.0,1...|[4.14593506493611...|
|        420|    Spain|Female| 55|     4| 91893.32|            1|        1|             0|      144870.28|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[420.0,55.0,4.0,9...|[4.15582989802665...|
|        421|   France|  Male| 34|     2|      0.0|            2|        1|             1|       96615.23|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[421.0,34.0,2.0,0...|[4.16572473111719...|
|        422|   France|Female| 33|     2|      0.0|            2|        1|             0|      102655.31|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[422.0,33.0,2.0,0...|[4.17561956420773...|
|        430|   France|Female| 33|     8|      0.0|            1|        1|             1|       69759.91|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[430.0,33.0,8.0,0...|[4.25477822893205...|
|        430|   France|  Male| 38|     9|      0.0|            2|        1|             1|       12050.77|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[430.0,38.0,9.0,0...|[4.25477822893205...|
|        430|  Germany|  Male| 49|     3|137115.16|            1|        1|             0|      146516.86|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[430.0,49.0,3.0,1...|[4.25477822893205...|
|        435|  Germany|  Male| 37|     8| 114346.3|            1|        0|             1|         980.93|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[435.0,37.0,8.0,1...|[4.30425239438475...|
|        438|   France|  Male| 60|     7| 78391.17|            1|        0|             1|        49424.6|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[438.0,60.0,7.0,7...|[4.33393689365637...|
|        439|   France|Female| 43|     8|      0.0|            1|        0|             1|       104889.3|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[439.0,43.0,8.0,0...|[4.34383172674690...|
|        445|  Germany|Female| 61|     2|137655.31|            1|        0|             1|       29909.84|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     0|[445.0,61.0,2.0,1...|[4.40320072529014...|
|        451|    Spain|Female| 23|     9|      0.0|            2|        0|             1|       48021.71|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|[451.0,23.0,9.0,0...|[4.46256972383338...|
|        452|   France|Female| 35|     8|      0.0|            2|        1|             1|      149614.81|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[452.0,35.0,8.0,0...|[4.47246455692392...|
|        452|    Spain|  Male| 44|     3| 88915.85|            1|        1|             0|       69697.74|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     0|[452.0,44.0,3.0,8...|[4.47246455692392...|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+
only showing top 20 rows

+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+--------------------+--------------------+----------+
|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|Exited|            features|     features_scaled|       rawPrediction|         probability|prediction|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+--------------------+--------------------+----------+
|        359|   France|Female| 44|     6|128747.69|            1|        1|             0|      146955.71|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     1|[359.0,44.0,6.0,1...|[3.55224507950373...|[0.41586628722491...|[0.60249366679920...|       0.0|
|        365|  Germany|  Male| 30|     0|127760.07|            1|        1|             0|       81537.85|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[365.0,30.0,0.0,1...|[3.61161407804697...|[0.98382889756443...|[0.72786729231006...|       0.0|
|        386|    Spain|Female| 53|     1|131955.07|            1|        1|             1|       62514.65|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[386.0,53.0,1.0,1...|[3.81940557294830...|[0.64537434582171...|[0.65596732633081...|       0.0|
|        405|  Germany|  Male| 31|     5|133299.67|            2|        1|             1|       72950.14|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     0|[405.0,31.0,5.0,1...|[4.00740740166856...|[2.05313218178621...|[0.88626372587388...|       0.0|
|        410|   France|  Male| 33|     6|125789.69|            1|        0|             0|       66333.56|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     1|[410.0,33.0,6.0,1...|[4.05688156712125...|[1.65599734701627...|[0.83969996250503...|       0.0|
|        414|    Spain|  Male| 60|     3|      0.0|            2|        1|             1|       93844.82|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     0|[414.0,60.0,3.0,0...|[4.09646089948341...|[1.10278518168223...|[0.75078160092172...|       0.0|
|        419|    Spain|Female| 27|     2|121580.42|            1|        0|             1|      134720.51|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|[419.0,27.0,2.0,1...|[4.14593506493611...|[2.42238119807996...|[0.91851813721689...|       0.0|
|        420|    Spain|Female| 55|     4| 91893.32|            1|        1|             0|      144870.28|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[420.0,55.0,4.0,9...|[4.15582989802665...|[-0.2628021272172...|[0.43467500844779...|       1.0|
|        421|   France|  Male| 34|     2|      0.0|            2|        1|             1|       96615.23|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[421.0,34.0,2.0,0...|[4.16572473111719...|[2.86815519325829...|[0.94624959593458...|       0.0|
|        422|   France|Female| 33|     2|      0.0|            2|        1|             0|      102655.31|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[422.0,33.0,2.0,0...|[4.17561956420773...|[1.56829931394326...|[0.82754102685261...|       0.0|
|        430|   France|Female| 33|     8|      0.0|            1|        1|             1|       69759.91|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[430.0,33.0,8.0,0...|[4.25477822893205...|[2.50848891379125...|[0.92473478584851...|       0.0|
|        430|   France|  Male| 38|     9|      0.0|            2|        1|             1|       12050.77|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[430.0,38.0,9.0,0...|[4.25477822893205...|[2.77006468766313...|[0.94103657594507...|       0.0|
|        430|  Germany|  Male| 49|     3|137115.16|            1|        1|             0|      146516.86|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[430.0,49.0,3.0,1...|[4.25477822893205...|[-0.2569056779800...|[0.43612451264606...|       1.0|
|        435|  Germany|  Male| 37|     8| 114346.3|            1|        0|             1|         980.93|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[435.0,37.0,8.0,1...|[4.30425239438475...|[1.66739764734057...|[0.84122855150035...|       0.0|
|        438|   France|  Male| 60|     7| 78391.17|            1|        0|             1|        49424.6|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[438.0,60.0,7.0,7...|[4.33393689365637...|[0.90679053906271...|[0.71234295906311...|       0.0|
|        439|   France|Female| 43|     8|      0.0|            1|        0|             1|       104889.3|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[439.0,43.0,8.0,0...|[4.34383172674690...|[1.80478045091905...|[0.85872986051965...|       0.0|
|        445|  Germany|Female| 61|     2|137655.31|            1|        0|             1|       29909.84|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     0|[445.0,61.0,2.0,1...|[4.40320072529014...|[-0.5844413502859...|[0.35791128058458...|       1.0|
|        451|    Spain|Female| 23|     9|      0.0|            2|        0|             1|       48021.71|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|[451.0,23.0,9.0,0...|[4.46256972383338...|[3.29479986257472...|[0.96424998395766...|       0.0|
|        452|   France|Female| 35|     8|      0.0|            2|        1|             1|      149614.81|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[452.0,35.0,8.0,0...|[4.47246455692392...|[2.46539154888442...|[0.92167974412753...|       0.0|
|        452|    Spain|  Male| 44|     3| 88915.85|            1|        1|             0|       69697.74|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     0|[452.0,44.0,3.0,8...|[4.47246455692392...|[0.96388634625457...|[0.72389924127575...|       0.0|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

PipelineModel_f40088c468eb Area under ROC = 0.7721693680996007
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+--------------------+--------------------+----------+
|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|Exited|            features|     features_scaled|       rawPrediction|         probability|prediction|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+--------------------+--------------------+----------+
|        359|   France|Female| 44|     6|128747.69|            1|        1|             0|      146955.71|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     1|[359.0,44.0,6.0,1...|[3.55224507950373...|[-0.5235977555788...|[0.25976400319387...|       1.0|
|        365|  Germany|  Male| 30|     0|127760.07|            1|        1|             0|       81537.85|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[365.0,30.0,0.0,1...|[3.61161407804697...|[-0.2377722914655...|[0.38330475757811...|       1.0|
|        386|    Spain|Female| 53|     1|131955.07|            1|        1|             1|       62514.65|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[386.0,53.0,1.0,1...|[3.81940557294830...|[-0.4432887322318...|[0.29181662324565...|       1.0|
|        405|  Germany|  Male| 31|     5|133299.67|            2|        1|             1|       72950.14|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     0|[405.0,31.0,5.0,1...|[4.00740740166856...|[1.93366080059953...|[0.97951413638883...|       0.0|
|        410|   France|  Male| 33|     6|125789.69|            1|        0|             0|       66333.56|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     1|[410.0,33.0,6.0,1...|[4.05688156712125...|[1.55390322462289...|[0.95721360738384...|       0.0|
|        414|    Spain|  Male| 60|     3|      0.0|            2|        1|             1|       93844.82|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     0|[414.0,60.0,3.0,0...|[4.09646089948341...|[1.79668722677014...|[0.97323093463559...|       0.0|
|        419|    Spain|Female| 27|     2|121580.42|            1|        0|             1|      134720.51|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|[419.0,27.0,2.0,1...|[4.14593506493611...|[1.12703338822080...|[0.90500075007267...|       0.0|
|        420|    Spain|Female| 55|     4| 91893.32|            1|        1|             0|      144870.28|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     1|[420.0,55.0,4.0,9...|[4.15582989802665...|[-1.7648744201101...|[0.02847753559574...|       1.0|
|        421|   France|  Male| 34|     2|      0.0|            2|        1|             1|       96615.23|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[421.0,34.0,2.0,0...|[4.16572473111719...|[1.83294622726326...|[0.97505675059846...|       0.0|
|        422|   France|Female| 33|     2|      0.0|            2|        1|             0|      102655.31|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[422.0,33.0,2.0,0...|[4.17561956420773...|[1.59615144196894...|[0.96054359145518...|       0.0|
|        430|   France|Female| 33|     8|      0.0|            1|        1|             1|       69759.91|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[430.0,33.0,8.0,0...|[4.25477822893205...|[1.46419672773032...|[0.94923231100722...|       0.0|
|        430|   France|  Male| 38|     9|      0.0|            2|        1|             1|       12050.77|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[430.0,38.0,9.0,0...|[4.25477822893205...|[1.67337713929338...|[0.96599838958872...|       0.0|
|        430|  Germany|  Male| 49|     3|137115.16|            1|        1|             0|      146516.86|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[430.0,49.0,3.0,1...|[4.25477822893205...|[-0.2349151946370...|[0.38465638897851...|       1.0|
|        435|  Germany|  Male| 37|     8| 114346.3|            1|        0|             1|         980.93|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|     1|[435.0,37.0,8.0,1...|[4.30425239438475...|[1.01145362200661...|[0.88318128989332...|       0.0|
|        438|   France|  Male| 60|     7| 78391.17|            1|        0|             1|        49424.6|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|     0|[438.0,60.0,7.0,7...|[4.33393689365637...|[1.47766461089896...|[0.95051475880585...|       0.0|
|        439|   France|Female| 43|     8|      0.0|            1|        0|             1|       104889.3|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[439.0,43.0,8.0,0...|[4.34383172674690...|[-0.9955956063260...|[0.12013089494404...|       1.0|
|        445|  Germany|Female| 61|     2|137655.31|            1|        0|             1|       29909.84|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|     0|[445.0,61.0,2.0,1...|[4.40320072529014...|[-0.3442751169784...|[0.33435565848493...|       1.0|
|        451|    Spain|Female| 23|     9|      0.0|            2|        0|             1|       48021.71|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|     0|[451.0,23.0,9.0,0...|[4.46256972383338...|[1.92096295551138...|[0.97899828749476...|       0.0|
|        452|   France|Female| 35|     8|      0.0|            2|        1|             1|      149614.81|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|     0|[452.0,35.0,8.0,0...|[4.47246455692392...|[1.91312692129493...|[0.97867362919823...|       0.0|
|        452|    Spain|  Male| 44|     3| 88915.85|            1|        1|             0|       69697.74|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|     0|[452.0,44.0,3.0,8...|[4.47246455692392...|[-0.0886811836864...|[0.45577528034561...|       1.0|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+--------------+-------------+-----------+-------------+------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

PipelineModel_3ad298c595fa Area under ROC = 0.7712464175001462

DataFrame[CreditScore: int, Geography: string, Gender: string, Age: int, Tenure: int, Balance: double, NumOfProducts: int, HasCrCard: int, IsActiveMember: int, EstimatedSalary: double, GeographyIndex: double, GeographyVec: vector, GenderIndex: double, GenderVec: vector, Exited: float, features: vector, features_scaled: vector, rawPrediction: vector, probability: vector, prediction: double]

# Public Evaluation Part

## Load private dataset, the same structure as public dataset

In [20]:
df_private_evl = spark.read.csv('public.csv',header=True,inferSchema=True)  # TA takes public dataset as example

## Do prediction with your PySpark model here (**Very Important**)
You must do prediction (inference) here.
Then TA will know how to run your ML model to test private data.

In [60]:
sI1 = StringIndexer(inputCol="Geography", outputCol="GeographyIndex")
en1 = OneHotEncoder(dropLast=False, inputCol="GeographyIndex", outputCol="GeographyVec")
sI2 = StringIndexer(inputCol="Gender", outputCol="GenderIndex")
en2 = OneHotEncoder(dropLast=False, inputCol="GenderIndex", outputCol="GenderVec")
encoded_final_df = Pipeline(stages=[sI1, en1, sI2, en2]).fit(df_private_evl).transform(df_private_evl)
encoded_final_df.show()

+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+
|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+
|  15565701|   Ferri|        698|    Spain|Female| 39|     9|161993.89|            1|        0|             0|       90212.38|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|
|  15565706|Akobundu|        612|    Spain|  Male| 35|     1|      0.0|            1|        1|             1|       83256.26|     1|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|
|  15565796|Docherty|        745|  Germany|  Male| 48|    10| 96048.55|            1|        1|             0|       74510.65|     0|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|
|  15565806|  Toosey|        532|   France|  Male| 38|     9|      0.0|            2|        0|             0|       30583.95|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|
|  15565878|   Bates|        631|    Spain|  Male| 29|     3|      0.0|            2|        1|             1|      197963.46|     0|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|
|  15565879|   Riley|        845|   France|Female| 28|     9|      0.0|            2|        1|             1|       56185.98|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|
|  15565996|  Arnold|        653|   France|  Male| 44|     8|      0.0|            2|        1|             1|      154639.72|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|
|  15566030|      Tu|        497|  Germany|  Male| 41|     5| 80542.81|            1|        0|             0|       88729.22|     1|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|
|  15566091| Thomsen|        545|    Spain|Female| 32|     4|      0.0|            1|        1|             0|        94739.2|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|
|  15566111|   Estes|        596|   France|  Male| 39|     9|      0.0|            1|        1|             0|       48963.59|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|
|  15566139|   Ts'ui|        526|   France|Female| 37|     5| 53573.18|            1|        1|             0|       62830.97|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|
|  15566251| Ferrari|        618|   France|Female| 37|     5| 96652.86|            1|        1|             0|        98686.4|     1|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|
|  15566253| Manning|        580|  Germany|  Male| 44|     9|143391.07|            1|        0|             0|      146891.07|     1|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|
|  15566269|Chialuka|        787|   France|  Male| 25|     5|      0.0|            2|        1|             0|        47307.9|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|
|  15566295| Sanders|        761|   France|Female| 33|     6|138053.79|            2|        1|             0|      148779.41|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|
|  15566312|   Jolly|        660|    Spain|Female| 42|     5|      0.0|            3|        1|             1|      189016.24|     1|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|
|  15566378| Tillman|        515|   France|  Male| 48|     5|129387.94|            1|        0|             1|      147955.91|     1|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|
|  15566380|   Drury|        586|    Spain|Female| 33|    10| 66948.67|            2|        1|             1|      140759.03|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|
|  15566467|  Hannah|        683|  Germany|Female| 32|     0| 138171.1|            2|        1|             1|      188203.58|     0|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|
|  15566494|    Fang|        487|   France|  Male| 45|     2|      0.0|            2|        1|             0|       77475.73|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+
only showing top 20 rows

In [70]:
testingData = preprocess(encoded_final_df)
#predictions = predict(lrModel, testingData)
predictions = predict(dt_model, testingData)

+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+
|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|            features|     features_scaled|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+
|  15565701|   Ferri|        698|    Spain|Female| 39|     9|161993.89|            1|        0|             0|       90212.38|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[698.0,39.0,9.0,1...|[7.22717417597988...|
|  15565706|Akobundu|        612|    Spain|  Male| 35|     1|      0.0|            1|        1|             1|       83256.26|     1|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|[612.0,35.0,1.0,0...|[6.33672005114569...|
|  15565796|Docherty|        745|  Germany|  Male| 48|    10| 96048.55|            1|        1|             0|       74510.65|     0|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[745.0,48.0,10.0,...|[7.71381770931950...|
|  15565806|  Toosey|        532|   France|  Male| 38|     9|      0.0|            2|        0|             0|       30583.95|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|(13,[0,1,2,4,7,8,...|(13,[0,1,2,4,7,8,...|
|  15565878|   Bates|        631|    Spain|  Male| 29|     3|      0.0|            2|        1|             1|      197963.46|     0|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|[631.0,29.0,3.0,0...|[6.53344828802766...|
|  15565879|   Riley|        845|   France|Female| 28|     9|      0.0|            2|        1|             1|       56185.98|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[845.0,28.0,9.0,0...|[8.74922948238253...|
|  15565996|  Arnold|        653|   France|  Male| 44|     8|      0.0|            2|        1|             1|      154639.72|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[653.0,44.0,8.0,0...|[6.76123887810153...|
|  15566030|      Tu|        497|  Germany|  Male| 41|     5| 80542.81|            1|        0|             0|       88729.22|     1|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[497.0,41.0,5.0,8...|[5.14599651212321...|
|  15566091| Thomsen|        545|    Spain|Female| 32|     4|      0.0|            1|        1|             0|        94739.2|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[545.0,32.0,4.0,0...|[5.64299416319346...|
|  15566111|   Estes|        596|   France|  Male| 39|     9|      0.0|            1|        1|             0|       48963.59|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[596.0,39.0,9.0,0...|[6.17105416745560...|
|  15566139|   Ts'ui|        526|   France|Female| 37|     5| 53573.18|            1|        1|             0|       62830.97|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[526.0,37.0,5.0,5...|[5.44626592631149...|
|  15566251| Ferrari|        618|   France|Female| 37|     5| 96652.86|            1|        1|             0|        98686.4|     1|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[618.0,37.0,5.0,9...|[6.39884475752947...|
|  15566253| Manning|        580|  Germany|  Male| 44|     9|143391.07|            1|        0|             0|      146891.07|     1|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[580.0,44.0,9.0,1...|[6.00538828376552...|
|  15566269|Chialuka|        787|   France|  Male| 25|     5|      0.0|            2|        1|             0|        47307.9|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[787.0,25.0,5.0,0...|[8.14869065400597...|
|  15566295| Sanders|        761|   France|Female| 33|     6|138053.79|            2|        1|             0|      148779.41|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[761.0,33.0,6.0,1...|[7.87948359300959...|
|  15566312|   Jolly|        660|    Spain|Female| 42|     5|      0.0|            3|        1|             1|      189016.24|     1|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[660.0,42.0,5.0,0...|[6.83371770221594...|
|  15566378| Tillman|        515|   France|  Male| 48|     5|129387.94|            1|        0|             1|      147955.91|     1|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[515.0,48.0,5.0,1...|[5.33237063127456...|
|  15566380|   Drury|        586|    Spain|Female| 33|    10| 66948.67|            2|        1|             1|      140759.03|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[586.0,33.0,10.0,...|[6.06751299014930...|
|  15566467|  Hannah|        683|  Germany|Female| 32|     0| 138171.1|            2|        1|             1|      188203.58|     0|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|[683.0,32.0,0.0,1...|[7.07186241002043...|
|  15566494|    Fang|        487|   France|  Male| 45|     2|      0.0|            2|        1|             0|       77475.73|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[487.0,45.0,2.0,0...|[5.04245533481691...|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+
only showing top 20 rows

+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+--------------------+--------------------+----------+
|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|            features|     features_scaled|       rawPrediction|         probability|prediction|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+--------------------+--------------------+----------+
|  15565701|   Ferri|        698|    Spain|Female| 39|     9|161993.89|            1|        0|             0|       90212.38|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[698.0,39.0,9.0,1...|[7.22717417597988...|[0.86411222634853...|[0.70351909965553...|       0.0|
|  15565706|Akobundu|        612|    Spain|  Male| 35|     1|      0.0|            1|        1|             1|       83256.26|     1|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|[612.0,35.0,1.0,0...|[6.33672005114569...|[2.72299751472299...|[0.93837011289778...|       0.0|
|  15565796|Docherty|        745|  Germany|  Male| 48|    10| 96048.55|            1|        1|             0|       74510.65|     0|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[745.0,48.0,10.0,...|[7.71381770931950...|[0.20128765804588...|[0.55015269352432...|       0.0|
|  15565806|  Toosey|        532|   France|  Male| 38|     9|      0.0|            2|        0|             0|       30583.95|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|(13,[0,1,2,4,7,8,...|(13,[0,1,2,4,7,8,...|[1.84013119549522...|[0.86296422294547...|       0.0|
|  15565878|   Bates|        631|    Spain|  Male| 29|     3|      0.0|            2|        1|             1|      197963.46|     0|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|[631.0,29.0,3.0,0...|[6.53344828802766...|[3.24649582568862...|[0.96254699073918...|       0.0|
|  15565879|   Riley|        845|   France|Female| 28|     9|      0.0|            2|        1|             1|       56185.98|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[845.0,28.0,9.0,0...|[8.74922948238253...|[3.18848992183770...|[0.96039882768045...|       0.0|
|  15565996|  Arnold|        653|   France|  Male| 44|     8|      0.0|            2|        1|             1|      154639.72|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[653.0,44.0,8.0,0...|[6.76123887810153...|[2.36319704007974...|[0.91397749810820...|       0.0|
|  15566030|      Tu|        497|  Germany|  Male| 41|     5| 80542.81|            1|        0|             0|       88729.22|     1|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[497.0,41.0,5.0,8...|[5.14599651212321...|[0.46054759389341...|[0.61314407258976...|       0.0|
|  15566091| Thomsen|        545|    Spain|Female| 32|     4|      0.0|            1|        1|             0|        94739.2|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[545.0,32.0,4.0,0...|[5.64299416319346...|[1.58617920990641...|[0.83007786541946...|       0.0|
|  15566111|   Estes|        596|   France|  Male| 39|     9|      0.0|            1|        1|             0|       48963.59|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[596.0,39.0,9.0,0...|[6.17105416745560...|[1.71283955199713...|[0.84720422455118...|       0.0|
|  15566139|   Ts'ui|        526|   France|Female| 37|     5| 53573.18|            1|        1|             0|       62830.97|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[526.0,37.0,5.0,5...|[5.44626592631149...|[1.15209135978867...|[0.75989270500833...|       0.0|
|  15566251| Ferrari|        618|   France|Female| 37|     5| 96652.86|            1|        1|             0|        98686.4|     1|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[618.0,37.0,5.0,9...|[6.39884475752947...|[1.08284527089851...|[0.74703204671069...|       0.0|
|  15566253| Manning|        580|  Germany|  Male| 44|     9|143391.07|            1|        0|             0|      146891.07|     1|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[580.0,44.0,9.0,1...|[6.00538828376552...|[0.19743004564059...|[0.54919780989033...|       0.0|
|  15566269|Chialuka|        787|   France|  Male| 25|     5|      0.0|            2|        1|             0|        47307.9|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[787.0,25.0,5.0,0...|[8.14869065400597...|[2.81642501342920...|[0.94355697424772...|       0.0|
|  15566295| Sanders|        761|   France|Female| 33|     6|138053.79|            2|        1|             0|      148779.41|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[761.0,33.0,6.0,1...|[7.87948359300959...|[1.44205393086280...|[0.80877251290642...|       0.0|
|  15566312|   Jolly|        660|    Spain|Female| 42|     5|      0.0|            3|        1|             1|      189016.24|     1|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[660.0,42.0,5.0,0...|[6.83371770221594...|[2.07480756034598...|[0.88843038627126...|       0.0|
|  15566378| Tillman|        515|   France|  Male| 48|     5|129387.94|            1|        0|             1|      147955.91|     1|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[515.0,48.0,5.0,1...|[5.33237063127456...|[1.50484190402202...|[0.81829551886893...|       0.0|
|  15566380|   Drury|        586|    Spain|Female| 33|    10| 66948.67|            2|        1|             1|      140759.03|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[586.0,33.0,10.0,...|[6.06751299014930...|[2.49007096751689...|[0.92344281993118...|       0.0|
|  15566467|  Hannah|        683|  Germany|Female| 32|     0| 138171.1|            2|        1|             1|      188203.58|     0|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|[683.0,32.0,0.0,1...|[7.07186241002043...|[1.50544075086724...|[0.81838454321468...|       0.0|
|  15566494|    Fang|        487|   France|  Male| 45|     2|      0.0|            2|        1|             0|       77475.73|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[487.0,45.0,2.0,0...|[5.04245533481691...|[1.20026984865127...|[0.76857278459539...|       0.0|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

PipelineModel_f40088c468eb Area under ROC = 0.7253409775125004
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+--------------------+--------------------+----------+
|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|GeographyIndex| GeographyVec|GenderIndex|    GenderVec|            features|     features_scaled|       rawPrediction|         probability|prediction|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+--------------------+--------------------+----------+
|  15565701|   Ferri|        698|    Spain|Female| 39|     9|161993.89|            1|        0|             0|       90212.38|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[698.0,39.0,9.0,1...|[7.22717417597988...|[1.12674585895748...|[0.90495129824930...|       0.0|
|  15565706|Akobundu|        612|    Spain|  Male| 35|     1|      0.0|            1|        1|             1|       83256.26|     1|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|[612.0,35.0,1.0,0...|[6.33672005114569...|[-1.2916090878953...|[0.07022631062134...|       1.0|
|  15565796|Docherty|        745|  Germany|  Male| 48|    10| 96048.55|            1|        1|             0|       74510.65|     0|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[745.0,48.0,10.0,...|[7.71381770931950...|[1.06706217713559...|[0.89417591173956...|       0.0|
|  15565806|  Toosey|        532|   France|  Male| 38|     9|      0.0|            2|        0|             0|       30583.95|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|(13,[0,1,2,4,7,8,...|(13,[0,1,2,4,7,8,...|[1.78842449395396...|[0.97279702175045...|       0.0|
|  15565878|   Bates|        631|    Spain|  Male| 29|     3|      0.0|            2|        1|             1|      197963.46|     0|           2.0|(3,[2],[1.0])|        0.0|(2,[0],[1.0])|[631.0,29.0,3.0,0...|[6.53344828802766...|[1.84278289384197...|[0.97553078182010...|       0.0|
|  15565879|   Riley|        845|   France|Female| 28|     9|      0.0|            2|        1|             1|       56185.98|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[845.0,28.0,9.0,0...|[8.74922948238253...|[1.91465598114556...|[0.97873736357033...|       0.0|
|  15565996|  Arnold|        653|   France|  Male| 44|     8|      0.0|            2|        1|             1|      154639.72|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[653.0,44.0,8.0,0...|[6.76123887810153...|[1.85613802207339...|[0.97616033461944...|       0.0|
|  15566030|      Tu|        497|  Germany|  Male| 41|     5| 80542.81|            1|        0|             0|       88729.22|     1|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[497.0,41.0,5.0,8...|[5.14599651212321...|[-1.5631623931338...|[0.04203434975626...|       1.0|
|  15566091| Thomsen|        545|    Spain|Female| 32|     4|      0.0|            1|        1|             0|        94739.2|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[545.0,32.0,4.0,0...|[5.64299416319346...|[0.81836430241139...|[0.83708930646161...|       0.0|
|  15566111|   Estes|        596|   France|  Male| 39|     9|      0.0|            1|        1|             0|       48963.59|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[596.0,39.0,9.0,0...|[6.17105416745560...|[1.08404412507960...|[0.89734699874982...|       0.0|
|  15566139|   Ts'ui|        526|   France|Female| 37|     5| 53573.18|            1|        1|             0|       62830.97|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[526.0,37.0,5.0,5...|[5.44626592631149...|[0.97006452602914...|[0.87436632051985...|       0.0|
|  15566251| Ferrari|        618|   France|Female| 37|     5| 96652.86|            1|        1|             0|        98686.4|     1|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[618.0,37.0,5.0,9...|[6.39884475752947...|[0.40628551772936...|[0.69265710560027...|       0.0|
|  15566253| Manning|        580|  Germany|  Male| 44|     9|143391.07|            1|        0|             0|      146891.07|     1|           1.0|(3,[1],[1.0])|        0.0|(2,[0],[1.0])|[580.0,44.0,9.0,1...|[6.00538828376552...|[-1.9766776503475...|[0.01882887476368...|       1.0|
|  15566269|Chialuka|        787|   France|  Male| 25|     5|      0.0|            2|        1|             0|        47307.9|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[787.0,25.0,5.0,0...|[8.14869065400597...|[1.87867031931410...|[0.97718684733018...|       0.0|
|  15566295| Sanders|        761|   France|Female| 33|     6|138053.79|            2|        1|             0|      148779.41|     0|           0.0|(3,[0],[1.0])|        1.0|(2,[1],[1.0])|[761.0,33.0,6.0,1...|[7.87948359300959...|[1.66415083515129...|[0.96538706506313...|       0.0|
|  15566312|   Jolly|        660|    Spain|Female| 42|     5|      0.0|            3|        1|             1|      189016.24|     1|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[660.0,42.0,5.0,0...|[6.83371770221594...|[-1.9084877799372...|[0.02152088550237...|       1.0|
|  15566378| Tillman|        515|   France|  Male| 48|     5|129387.94|            1|        0|             1|      147955.91|     1|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[515.0,48.0,5.0,1...|[5.33237063127456...|[-0.9639192253093...|[0.12699002402501...|       1.0|
|  15566380|   Drury|        586|    Spain|Female| 33|    10| 66948.67|            2|        1|             1|      140759.03|     0|           2.0|(3,[2],[1.0])|        1.0|(2,[1],[1.0])|[586.0,33.0,10.0,...|[6.06751299014930...|[1.89148609856371...|[0.97775130943780...|       0.0|
|  15566467|  Hannah|        683|  Germany|Female| 32|     0| 138171.1|            2|        1|             1|      188203.58|     0|           1.0|(3,[1],[1.0])|        1.0|(2,[1],[1.0])|[683.0,32.0,0.0,1...|[7.07186241002043...|[1.95208526041463...|[0.98024063479785...|       0.0|
|  15566494|    Fang|        487|   France|  Male| 45|     2|      0.0|            2|        1|             0|       77475.73|     0|           0.0|(3,[0],[1.0])|        0.0|(2,[0],[1.0])|[487.0,45.0,2.0,0...|[5.04245533481691...|[1.86520557034171...|[0.97657873806931...|       0.0|
+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+--------------+-------------+-----------+-------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

PipelineModel_3ad298c595fa Area under ROC = 0.9667740924545967

## Print Your result as the following type

In [76]:
predictions.select('CustomerId', col('prediction').alias('Exited')).show(5)

+----------+------+
|CustomerId|Exited|
+----------+------+
|  15565701|   0.0|
|  15565706|   1.0|
|  15565796|   0.0|
|  15565806|   0.0|
|  15565878|   0.0|
+----------+------+
only showing top 5 rows

## Calculate f-1 score

In [78]:
from sklearn import metrics
import numpy as np
data_array = np.array(predictions.select('Exited').collect()).flatten()
#print(data_array)
prediction_array = np.array(predictions.select('prediction').collect()).flatten()
print("F1_score = %s" % metrics.f1_score(data_array, prediction_array))

F1_score = 0.9368421052631579

# ------------------------------------------------------------------------------------------------------
## Private Evaluation Part (TA will use this block to test your model)
Please

In [ ]:
df_private = spark.read.csv('private.csv',header=True,inferSchema=True)  # TA takes private dataset as example

## Do prediction with your PySpark model here

## TA will use the following function to get your prediction result (f-1 score)

In [ ]:
from sklearn import metrics
import numpy as np
data_array =  np.array(df_private.select('Exited').collect())

metrics.f1_score(data_array,data_array)

1.0